# Directories for temporaries & build targets
build/
obj/
lib/
book/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Preliminary Notes
*.fodt

# Mercurial Files
.hg/
.hgignore
.hgtags

# Various editor and IDE files
sockpp.v*
*.vpj
.vscode/

# Misc
fmt.sh


